nav {
  display: flex;
}
.container{
  color: red;
}
a{
  color: green;
}
li {
    margin: 10px;
  text-decoration:none;
}
ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
